.container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    background-color: #f5f5f5;
  }
  
  /* Konten utama */
  .content {
    padding-top: 70px;
    flex: 1;
    max-width: 100%;
  }
  
  
  /* Responsif: Sidebar jadi full-width di mobile */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    app-sidebar {
      width: 100%;
    }
  }
  