<div class="home-container">
    <h2>Featured Products</h2>
    <div class="product-grid">
      <div class="product-card" *ngFor="let product of products">
        <img [src]="product.image" alt="{{ product.name }}">
        <h3>{{ product.name }}</h3>
        <p class="price">Rp {{ product.price | number }}</p>
        <p>{{ product.description }}</p>
        <button mat-raised-button color="accent" (click)="addToCart(product)">
          Add to Cart
        </button>
      </div>
    </div>
  </div>
  