<app-navbar></app-navbar>

<div class="product-detail-container">
  <div class="product-detail">
    <img [src]="product.image" [alt]="product.name" class="product-image">
    
    <div class="product-info">
      <h2>{{ product.name }}</h2>
      <p class="category">Category: <span>{{ product.category }}</span></p>
      <p class="stock" [class.low-stock]="product.stock < 5">Stock: {{ product.stock }}</p>
      <p class="description">{{ product.description }}</p>
      <p class="price">Rp {{ product.price | number }}</p>
      
      <button (click)="addToCart()" class="add-to-cart">Add to Cart</button>
    </div>
  </div>
</div>
