<app-navbar></app-navbar>

<div class="container">
  <div class="profile-card">
    <img [src]="user.avatar" alt="Avatar" class="avatar" />
    
    <div class="user-info">
      <h2>{{ user.username }}</h2>
      <p>{{ user.email }}</p>
      <p>{{ user.phone }}</p>
    </div>

    <button (click)="toggleEdit()" class="edit-btn">
      {{ isEditing ? 'Batalkan' : 'Edit Profil' }}
    </button>

    <!-- Form Edit -->
    <div *ngIf="isEditing" class="edit-form">
      <label>Username</label>
      <input type="text" [(ngModel)]="editUser.username" />
S
      <label>No Telepon</label>
      <input type="text" [(ngModel)]="editUser.phone" />

      <button (click)="saveChanges()" class="save-btn">Simpan Perubahan</button>
    </div>
  </div>
</div>
